%h2 Movies
#movies
  .movie
    %h3 Terminator Salvation
    %p Is he human or robot? Who can tell?
  .movie
    %h3 The Abyss
    %p The long awaited prequel/sequel to 'The Titanic'
  .movie
    %h3 Robin Hood: Men In Tights
    %p Kevin Costner is not on the scene here...
